In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/mnt/stor/datasets/bone-age/train_plus_valid_kfold.csv")
df.head()

,pid,bone_age,female,subset,outer,inner0,inner1,inner2,inner3,inner4,fold,imgfile,bone_age_years,imgfile0
0,1377,180,1,train,0,-1,3,3,3,3,0,train/1377.png,15.000000,1377.png
1,1378,12,1,train,3,2,4,4,-1,4,3,train/1378.png,1.000000,1378.png
2,1379,94,1,train,2,4,3,-1,4,3,2,train/1379.png,7.833333,1379.png
3,1380,120,0,train,1,3,-1,3,3,2,1,train/1380.png,10.000000,1380.png
4,1381,82,1,train,0,-1,2,2,2,1,0,train/1381.png,6.833333,1381.png

In [53]:
boundaries = [0, 24]
boundaries.extend(list(np.arange(36, 72, 12)))
boundaries.extend(list(np.arange(72, 168, 6)))
boundaries.extend(list(np.arange(168, 204, 12)))
boundaries.append(float("inf"))
boundaries[:10], boundaries[-10:]

([0, 24, 36, 48, 60, 72, 78, 84, 90, 96],
 [132, 138, 144, 150, 156, 162, 168, 180, 192, inf])

In [55]:
df["bone_age_groups"] = pd.cut(df.bone_age, boundaries)
df.bone_age_groups.value_counts()

bone_age_groups
(150.0, 156.0]    1289
(126.0, 132.0]    1215
(114.0, 120.0]    1116
(162.0, 168.0]    1078
(102.0, 108.0]     888
(90.0, 96.0]       883
(156.0, 162.0]     853
(144.0, 150.0]     773
(138.0, 144.0]     743
(78.0, 84.0]       733
(132.0, 138.0]     627
(168.0, 180.0]     579
(60.0, 72.0]       565
(48.0, 60.0]       564
(192.0, inf]       385
(180.0, 192.0]     379
(120.0, 126.0]     233
(36.0, 48.0]       225
(24.0, 36.0]       223
(0.0, 24.0]        192
(108.0, 114.0]     134
(96.0, 102.0]      125
(84.0, 90.0]       125
(72.0, 78.0]       109
Name: count, dtype: int64

In [59]:
df["bone_age_categorical"] = pd.Categorical(df.bone_age_groups).codes
df.bone_age_categorical.value_counts()

bone_age_categorical
18    1289
14    1215
12    1116
20    1078
10     888
8      883
19     853
17     773
16     743
6      733
15     627
21     579
4      565
3      564
23     385
22     379
13     233
2      225
1      223
0      192
11     134
7      125
9      125
5      109
Name: count, dtype: int64

In [60]:
df.to_csv("/mnt/stor/datasets/bone-age/train_plus_valid_kfold.csv", index=False)

In [61]:
df.bone_age_categorical.unique().shape

(24,)